.navigation-section {
  background-color: var(--main-color);
  padding: 0 2rem;
  z-index: 99;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  min-height: 8vh;
  z-index: 9;
  align-items: center;
}

.navigation-section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slide-down 0.5s;
}
.mobile-menu {
  color: #fff;
  font-size: 31px;
  margin-left: 4rem;
  display: none;
}
.navigation-item.active {
  color: #fbbc04 !important;
}

@media only screen and (max-width: 992px) {
  .mobile-menu {
    display: inline-block;
    cursor: pointer;
  }
  .navigation-links {
    display: none;
  }
  .navigation-links.open {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    right: 0px;
    width: 250px;
    padding: 30px;
    top: 80px;
    flex-direction: column;
    display: flex;
    background: #202124;
    text-align: right;
  }
  .navigation-container .navigation-links a {
    padding: 1rem 0;
    margin-right: 0;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.navigation-container .navigation-logo {
  font-size: 4rem;
  color: var(--white-color);
  flex: 1;
}

.navigation-container .navigation-links a {
  margin-right: 6rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--light-dark);
}
