.about-section {
  min-height: 70vh;
  padding: 9.5rem 0;
}
.about-section .about-container {
  gap: 8rem;
  z-index: 2;
}
.about-container .about-details,
.about-container .about-details2,
.about-container .about-image {
  width: 50%;
  flex-grow: 1;
}
.about-container .about-details-sub {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  /* color: var(--yellow-color); */
  color: var(--main-color);
  text-transform: uppercase;
}
.about-container .about-details-icon {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.box-container {
  display: flex;
  gap: 2rem;
}
.box {
  height: 15rem;
  width: 40rem;
}

.box-number {
  font-size: 16rem;
}

.box-title {
  font-size: 2rem;
  text-transform: uppercase;
}

/* .box-1,
.box-title-1 {
  color: #ea4335;
}
.box-2,
.box-title-2 {
  color: #fbbc04;
}
.box-3,
.box-title-3 {
  color: #4285f4;
} */
@media only screen and (max-width: 992px) {
  .about-container .about-details,
  .about-container .about-details2,
  .about-container .about-image {
    width: 100%;
  }
}
