.banner-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.banner-details,
.banner-image {
  flex: 1;
}
/* ### Changed cursor to image when hover on banner container #### */
.banner-container > div {
  cursor: url(/src/assets/images/cursor.svg) 36 36, auto;
}
.banner-container p {
  margin: 4rem 0;
}

.banner-container .banner-details-webDeveloper {
  color: var(--white-color);
}

.banner-container h1 {
  font-size: 7.5rem;
  line-height: 1;
}
.banner-content {
  display: flex;
  align-items: center;
}
.banner-content img {
  width: 100%;
}
.banner-container .banner-logos {
  display: flex;
  gap: 1.5rem;
}

.banner-container .banner-logos img:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}
.banner-container .banner-btns {
  margin-top: 6.5rem;
}
