.certificates-section {
  min-height: 90vh;
  padding: 9.5rem 0;
}
.certificates-section .certificates-container {
  gap: 8rem;
  z-index: 2;
}
.certificates-container .certificates-details,
.certificates-container .certificates-details2,
.certificates-container .certificates-image {
  width: 100%;
  flex-grow: 1;
}
.certificates-container .certificates-details-sub {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  /* color: var(--yellow-color); */
  color: var(--main-color);
  text-transform: uppercase;
}
.certificates-container .certificates-details-icon {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.certificates-card {
  padding: 4rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.certificates-card h3 {
  font-weight: normal;
  font-size: 3rem;
}
.certificates-card p {
  text-transform: uppercase;
  color: var(--light-dark);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.certificates-card a {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.3rem 1rem;
}
.certificates-card a:hover {
  background-color: #fff;
  color: var(--main-color);
}
.certificates-card svg {
  display: inline-block;
}
.certificates-card a {
  margin-top: 3rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  padding: 0.5rem;
}
.certificates-more-details {
  margin-bottom: 2rem;
}
