.featured-projects-container {
  min-height: 50rem;
  padding: 9rem 0rem;
}

.featured-projects-container .featured-projects-details {
  flex: 1;
  width: 40%;
}
.featured-projects-container .featured-project-gallery {
  flex: 3;
  margin-left: 4rem;
}
.featured-projects-container .projects-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.featured-projects-container .projects-card {
  height: 300px;
  width: 48%;
}
/* .featured-projects-container .projects-card:nth-child(odd) {
  margin-top: -4rem;
} */

.featured-project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
