.projects-section {
  min-height: 100vh;
  padding: 9.5rem 0;
  position: relative;
}
.projects-section .projects-container {
  gap: 8rem;
  z-index: 2;
  position: relative;
}
.projects-container .projects-details {
  text-align: center;
}
.projects-container .projects-details-sub {
  font-size: 2.8rem;
  color: var(--gray-color);
}

.projects-section .projects-tablists {
  display: flex;
  margin-top: 2rem;
  gap: 6rem;
}

.projects-section .projects-tab {
  cursor: pointer;
}
.projects-section .projects-content > div {
  display: none;
}
.projects-section .projects-content > div.active {
  display: block;
}
.projects-section .projects-content img {
  object-fit: cover;
}
.projects-section .projects-content .project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects-section .projects-content .project-image:nth-child(odd) {
  margin-top: 10rem;
}

.projects-section .projects-content .project-image {
  display: block;
  height: 50.5rem;
  width: 45rem;
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  margin: 0 auto;
}
.projects-section .projects-content .project-image img {
  bottom: -1040px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s;
}
.projects-section .projects-content .project-image:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}
