.projects-section {
  min-height: 100vh;
  padding: 9.5rem 0;
  position: relative;
}

.projects-container .projects-details {
  text-align: center;
}
.projects-container .projects-details-sub {
  font-size: 2.8rem;
  color: var(--gray-color);
}
.projects-section .projects-sub {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  color: var(--yellow-color);
  text-transform: uppercase;
}
.projects-section .projects-tab {
  cursor: pointer;
}
.projects-section .projects-content > div {
  display: none;
}
.projects-section .projects-content > div.active {
  display: block;
}
.projects-section .projects-content img {
  object-fit: cover;
}
.projects-section .projects-tablists {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2rem;
}
.projects-section .projects-content .project-image {
  display: block;
  height: 50.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 1px;

  margin: 1rem;
}
.projects-section .projects-content .project-image img {
  bottom: -1690px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  /* -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s; */
}
.projects-section .projects-content .project-image:hover img {
  bottom: 0;
  /* -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s; */
}

.projects-section .project-description {
  position: absolute;
  bottom: 0;
  height: 9rem;
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
}
.projects-section .projects-arrow-left,
.projects-section .projects-arrow-right {
  background-color: var(--main-color);
  display: inline-block;
  color: #fff;
  padding: 20px;
  margin-right: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
